/* ul{
    list-style: none;
  }
  .table{
    margin: auto;
    padding: 50px;
    max-width: 400px;
    align-content: center;
  }
  .table, th, td {
    border:2px solid black;

   }
   h2{
    text-align: center;
    padding-top:30px;
  } */
  /* .container{
    margin: auto;
    padding: 50px;
    max-width: 400px;
    align-content: center;
  } */
  